<div class="span9">
  <h3>Hello!</h3>

  <ul>
    <% @posts.each do |post| %>
      <div class='alert alert-info'>
        <li>

            <% if logged_in? %>
              <%= link_to vote_post_path(post, vote: 'true'), method: 'post' do %>
                <i class='icon-arrow-up'></i>
                <% end %>
                <%= post.total_votes %>
              <%= link_to vote_post_path(post, vote: 'false'), method: 'post' do %>
                <i class='icon-arrow-down'></i>
                <% end %>
            <% end %>

          <%= link_to post.title, post_path(post) %>
        <% if logged_in? %>
          [<%= link_to 'edit', edit_post_path(post)  %>]
          [<%= link_to 'delete', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' } %>]
        <% end %>
          <br/>
          posted @ <%= show_datetime(post.created_at) %>
        </li>
      </div>
    <% end %>
  </ul>
</div>


